body {
    background: #ccc;
    font-family: sans-serif;
}

div.dev {
    border: solid 1px red;
}

div.dev div {
    border: dashed 1px green;
}

div#chart-holder {
    width: 600px;
    background: white;
    margin: auto;
    font-size: 16px;
}

div#chart-components {
    height: 400px;
    position: relative;
}

div#main, div#sidebar {
    position: absolute;
}

div#main {
    width: 75%;
    height: 100%;
    background: #eee;
}

div#sidebar {
    right: 0;
    width: 25%;
    height: 100%;
}

#chart circle{ fill: lightblue }
#chart line{stroke: #555555; stroke-width:2}
#chart rect{stroke:red; fill: white}
#chart polygon{fill: green}
#chart {
    background: #eee;
    font-family: sans-serif;
}

#chart text{font-size:16px}
#chart text#title{font-size:18px}
#chart path{stroke:red; fill:none}

#chart line#total {
    stroke: green;
    stroke-width: 3px;
    opacity: 0.5;
}
